@import "tailwindcss";

@theme {
  --color-background: oklch(0.8452 0 0);
  --color-foreground: oklch(0.2393 0 0);
  --color-card: oklch(0.7572 0 0);
  --color-card-foreground: oklch(0.2393 0 0);
  --color-popover: oklch(0.7572 0 0);
  --color-popover-foreground: oklch(0.2393 0 0);
  --color-primary: oklch(0.5016 0.1887 27.4816);
  --color-primary-foreground: oklch(1.0000 0 0);
  --color-secondary: oklch(0.4955 0.0896 126.1858);
  --color-secondary-foreground: oklch(1.0000 0 0);
  --color-muted: oklch(0.7826 0 0);
  --color-muted-foreground: oklch(0.4091 0 0);
  --color-accent: oklch(0.5880 0.0993 245.7394);
  --color-accent-foreground: oklch(1.0000 0 0);
  --color-destructive: oklch(0.7076 0.1975 46.4558);
  --color-destructive-foreground: oklch(0 0 0);
  --color-border: oklch(0.4313 0 0);
  --color-input: oklch(0.4313 0 0);
  --color-ring: oklch(0.5016 0.1887 27.4816);
  --color-chart-1: oklch(0.5016 0.1887 27.4816);
  --color-chart-2: oklch(0.4955 0.0896 126.1858);
  --color-chart-3: oklch(0.5880 0.0993 245.7394);
  --color-chart-4: oklch(0.7076 0.1975 46.4558);
  --color-chart-5: oklch(0.5656 0.0431 40.4319);
  
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  
  --radius: 0px;
}

:root {
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.4;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.20);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 1px 2px -1px hsl(0 0% 0% / 0.40);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 2px 4px -1px hsl(0 0% 0% / 0.40);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 4px 6px -1px hsl(0 0% 0% / 0.40);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.40), 0px 8px 10px -1px hsl(0 0% 0% / 0.40);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 1.00);
}

.dark {
  --color-background: oklch(0.2178 0 0);
  --color-foreground: oklch(0.9067 0 0);
  --color-card: oklch(0.2850 0 0);
  --color-card-foreground: oklch(0.9067 0 0);
  --color-popover: oklch(0.2850 0 0);
  --color-popover-foreground: oklch(0.9067 0 0);
  --color-primary: oklch(0.6083 0.2090 27.0276);
  --color-primary-foreground: oklch(1.0000 0 0);
  --color-secondary: oklch(0.6423 0.1467 133.0145);
  --color-secondary-foreground: oklch(0 0 0);
  --color-muted: oklch(0.2645 0 0);
  --color-muted-foreground: oklch(0.7058 0 0);
  --color-accent: oklch(0.7482 0.1235 244.7492);
  --color-accent-foreground: oklch(0 0 0);
  --color-destructive: oklch(0.7839 0.1719 68.0943);
  --color-destructive-foreground: oklch(0 0 0);
  --color-border: oklch(0.4091 0 0);
  --color-input: oklch(0.4091 0 0);
  --color-ring: oklch(0.6083 0.2090 27.0276);
  --color-chart-1: oklch(0.6083 0.2090 27.0276);
  --color-chart-2: oklch(0.6423 0.1467 133.0145);
  --color-chart-3: oklch(0.7482 0.1235 244.7492);
  --color-chart-4: oklch(0.7839 0.1719 68.0943);
  --color-chart-5: oklch(0.6471 0.0334 40.7963);
  
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 5px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.6;
  --shadow-color: hsl(0 0% 0%);
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.30);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 1px 2px -1px hsl(0 0% 0% / 0.60);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 2px 4px -1px hsl(0 0% 0% / 0.60);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 4px 6px -1px hsl(0 0% 0% / 0.60);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.60), 0px 8px 10px -1px hsl(0 0% 0% / 0.60);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.50);
  background-image: radial-gradient(at 20% 30%, hsla(260, 100%, 50%, 0.1) 0px, transparent 50%),
                    radial-gradient(at 80% 70%, hsla(180, 100%, 50%, 0.1) 0px, transparent 50%);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  font-size: 14px;
}

* {
  border-color: var(--color-border);
}