@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: oklch(0.8452 0 0);
    --foreground: oklch(0.2393 0 0);
    --card: oklch(0.7572 0 0);
    --card-foreground: oklch(0.2393 0 0);
    --popover: oklch(0.7572 0 0);
    --popover-foreground: oklch(0.2393 0 0);
    --primary: oklch(0.5016 0.1887 27.4816);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.4955 0.0896 126.1858);
    --secondary-foreground: oklch(1.0000 0 0);
    --muted: oklch(0.7826 0 0);
    --muted-foreground: oklch(0.4091 0 0);
    --accent: oklch(0.5880 0.0993 245.7394);
    --accent-foreground: oklch(1.0000 0 0);
    --destructive: oklch(0.7076 0.1975 46.4558);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.4313 0 0);
    --input: oklch(0.4313 0 0);
    --ring: oklch(0.5016 0.1887 27.4816);
    --radius: 0px;
    --font-sans: 'Oxanium', sans-serif;
    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
    --font-mono: 'Source Code Pro', monospace;
  }

  .dark {
    --background: oklch(0.2178 0 0);
    --foreground: oklch(0.9067 0 0);
    --card: oklch(0.2850 0 0);
    --card-foreground: oklch(0.9067 0 0);
    --popover: oklch(0.2850 0 0);
    --popover-foreground: oklch(0.9067 0 0);
    --primary: oklch(0.6083 0.2090 27.0276);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.6423 0.1467 133.0145);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.2645 0 0);
    --muted-foreground: oklch(0.7058 0 0);
    --accent: oklch(0.7482 0.1235 244.7492);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.7839 0.1719 68.0943);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.4091 0 0);
    --input: oklch(0.4091 0 0);
    --ring: oklch(0.6083 0.2090 27.0276);
    --radius: 0px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}